<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form">
  <form [formGroup]="userForm" (ngSubmit)="formSubmit()">
    <ion-item lines="full">
      <ion-label position="floating">Vezetéknév</ion-label>
      <ion-input formControlName="lastname" type="text"  required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Keresztnév</ion-label>
      <ion-input formControlName="firstname" type="text"  required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Születési dátum</ion-label>
      <ion-input formControlName="birthdate" type="date" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Nem</ion-label>
      <ion-select formControlName="gender">
        <ion-select-option>Nő</ion-select-option>
        <ion-select-option>Férfi</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="signUp(email, password)" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
