<ion-content fullscreen="true">
<div class="wrapper">
        <form [formGroup]="userForm" (ngSubmit)="formSubmit()" class="login">
          <p class="title">Regisztráció</p>
            <ion-input formControlName="email" type="email"   name="email" placeholder="Email" #email required></ion-input>
          <i class="fa fa-user"></i>
            <ion-input type="password" name="password" placeholder="Jelszó" #password required></ion-input>
          <i class="fa fa-key"></i>
            <ion-input type="date" name="date" placeholder="Születési dátum" required></ion-input>
          <i class="fa fa-key"></i>
            <ion-input type="text" name="name" placeholder="Keresztnév"></ion-input>
          <i class="fa fa-key"></i>
            <ion-input type="text" name="name" placeholder="Vezetéknév"  required></ion-input>
          <i class="fa fa-key"></i>
            <ion-select formControlName="gender">
              <ion-select-option>Nő</ion-select-option>
              <ion-select-option>Férfi</ion-select-option>
            </ion-select>
          <ion-button type="submit" (click)="signUp(email, password)">
            <i class="spinner"></i>
            <span  class="state">Regisztráció</span>
          </ion-button>
          <ion-button routerLink="/home">
            <i class="spinner"></i>
            <span  class="state">Mégse</span>
          </ion-button>
        </form>

</div>
</ion-content>
