.form ion-label {
  margin: 11px;
}
.form ion-input {
  margin-top: 10px;
}
.form ion-item {
  width: 35%;
  margin-left: 170px;
}
.form ion-button {
  width: 35%;
  margin-left: 170px;
}

form {
  width: 50%;
  margin-left: 102px;
}
