<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Fórum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="forumForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Leírás</ion-label>
        <ion-input formControlName="desc" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Felhasználó</ion-label>
        <ion-input formControlName="username" type="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Hozzáadás</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
