<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Rólam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-text class="about">
  <h1>Személyes adatok</h1>
  <h3>Név: Ócsai Bernadett</h3>
  <h3>Születési dátum: 1994.02.27.</h3>
  <h3>Iskolám: Szegedi Tudományegyetem - Természettudomány és Informatika kar</h3>
  <h3>Jelenlegi munkahelyem: FrontEndArt Kft. Szeged</h3>
  <h3>Email: bernadett0227@gmail.com</h3>
  <h3>Mobil: +36 30 283 6679</h3>
  <h1>Hobbim:</h1>
  <h5>Nagyon szeretek utazni, nagy álmom, hogy minden európai fővárosba eljussak.</h5>
  <h5>Szeretek weboldalt készíteni ha több tapasztalatom lesz megálmodok egy saját webshopot.</h5>
  <h5>Kiskutyám Szotyi 3 éves</h5>

</ion-text>

</ion-content>
