<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>Részletes programinfó</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card class="table">
  <ion-col class="col1">
    <ion-row class="row1">Program neve</ion-row>
    <ion-row class="row1">Program leírása</ion-row>
    <ion-row class="row1">Kezdő dátum</ion-row>
    <ion-row class="row1">Befejező dátum </ion-row>
    <ion-row class="row1">Napok száma </ion-row>
    <ion-row class="row1">Helyszín </ion-row>
    <ion-row class="row1">Mobil </ion-row>
    <ion-row class="row1">Email </ion-row>
  </ion-col>

  <ion-col class="co2">
    <ion-row class="row2">{{megnevezes}}</ion-row>
    <ion-row class="row2">{{leiras}}</ion-row>
    <ion-row class="row2">{{kezdo_datum}}</ion-row>
    <ion-row class="row2">{{befejezo_datum}}</ion-row>
    <ion-row class="row2">{{napok_szama}}</ion-row>
    <ion-row class="row2">{{helyszin}}</ion-row>
    <ion-row class="row2">{{mobil}}</ion-row>
    <ion-row class="row2">{{email}}</ion-row>
  </ion-col>
  </ion-card>
  <h1>Vélemények:</h1>

  <ion-card *ngFor="let opinion of Opinion">
    <ion-card *ngIf="opinion.id === id">

    <ion-card-content>{{opinion.opinion}}</ion-card-content>
    <ion-card-title>
      <div *ngIf="opinion.rate==0">
        <ion-icon color="primary" name="star-outline" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>
      <div *ngIf="opinion.rate==1">
        <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>
      <div *ngIf="opinion.rate==2">
        <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>

      <div *ngIf="opinion.rate==3">
        <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>
      <div *ngIf="opinion.rate==4">
        <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>
      <div *ngIf="opinion.rate==5">
        <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(5)"></ion-icon>
      </div>
    </ion-card-title>
    <ion-card-subtitle>{{opinion.user}}</ion-card-subtitle>
    </ion-card>
  </ion-card>


  <form [formGroup]="opinionForm" (ngSubmit)="formSubmit()">
    <ion-item>
      <ion-label position="floating">Új vélemény</ion-label>
      <ion-textarea formControlName="opinion"  rows="10" style="border: 1px solid black"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label  position="floating">Véleményed:</ion-label>
      <ion-input formControlName="rate" disabled [value]="rate"></ion-input>
    </ion-item>

    <div *ngIf="rate==0">
      <ion-icon color="primary" name="star-outline" (click)="onRate(1)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(2)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>
    <div *ngIf="rate==1">
      <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(2)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>
    <div *ngIf="rate==2">
      <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>

    <div *ngIf="rate==3">
      <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
      <ion-icon color="primary" name="star" (click)="onRate(3)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>
    <div *ngIf="rate==4">
      <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
      <ion-icon color="primary" name="star" (click)="onRate(3)"></ion-icon>
      <ion-icon color="primary" name="star" (click)="onRate(4)"></ion-icon>
      <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>
    <div *ngIf="rate==5">
      <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
      <ion-icon color="primary" name="star" (click)="onRate(3)"></ion-icon>
      <ion-icon color="primary" name="star" (click)="onRate(4)"></ion-icon>
      <ion-icon color="primary" name="star" (click)="onRate(5)"></ion-icon>
    </div>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Mentés</ion-button>
      </ion-col>
    </ion-row>
  </form>



</ion-content>



