<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>Részletes programinfó</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <h1 class="title">{{megnevezes}}</h1>
  <div class="desc">Program leírása</div>
  <h3 class="leiras"> <ion-icon class="icon" name="create"></ion-icon>{{leiras}}</h3>
  <h4> <ion-icon class="icon" name="calendar"></ion-icon>{{kezdo_datum}}</h4>
  <h4> <ion-icon  class="icon" name="calendar"></ion-icon>{{befejezo_datum}}</h4>
  <h4> <ion-icon  class="icon" name="sunny"></ion-icon>{{napok_szama}}</h4>
  <h4> <ion-icon  class="icon" name="pin"></ion-icon>{{helyszin}}</h4>
  <h4> <ion-icon  class="icon" name="call"></ion-icon>{{mobil}}</h4>
  <h4> <ion-icon  class="icon" name="mail-open"></ion-icon>{{email}}</h4>



  <h1 class="border_top">Vélemények:</h1>

  <ion-card *ngFor="let opinion of Opinion">
    <ion-card *ngIf="opinion.id === id">

    <ion-card-content>{{opinion.opinion}}</ion-card-content>
    <ion-card-title>
      <div *ngIf="opinion.rate==0">
        <ion-icon color="primary" name="star-outline" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>
      <div *ngIf="opinion.rate==1">
        <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>
      <div *ngIf="opinion.rate==2">
        <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>

      <div *ngIf="opinion.rate==3">
        <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>
      <div *ngIf="opinion.rate==4">
        <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>
      <div *ngIf="opinion.rate==5">
        <ion-icon color="primary" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" name="star" (click)="onRate(5)"></ion-icon>
      </div>
    </ion-card-title>
    <ion-card-subtitle>{{opinion.user}}</ion-card-subtitle>
    </ion-card>
  </ion-card>


  <form [formGroup]="opinionForm" (ngSubmit)="formSubmit()">
    <ion-item>
      <ion-textarea formControlName="opinion" placeholder="Véleményedet ide tudod írni..."  rows="10" class="textarea"></ion-textarea>
    </ion-item>
    <ion-item hidden>
      <ion-label  position="floating">Véleményed:</ion-label>
      <ion-input formControlName="rate"  [value]="rate"></ion-input>
    </ion-item>

    <div *ngIf="rate==0" style="margin: 20px">
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(1)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(2)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>
    <div *ngIf="rate==1">
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(2)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>
    <div *ngIf="rate==2">
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(2)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(3)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>

    <div *ngIf="rate==3">
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(2)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(3)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(4)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>
    <div *ngIf="rate==4">
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(2)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(3)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(4)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>
    <div *ngIf="rate==5">
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(2)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(3)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(4)"></ion-icon>
      <ion-icon class="rate" color="primary" name="star" (click)="onRate(5)"></ion-icon>
    </div>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Mentés</ion-button>
      </ion-col>
    </ion-row>
  </form>



</ion-content>



