.table {
  display: inline-flex;
  border-top: 50px;
  width: 100%;

}

.row1{
  height: 50px;
  align-items: center;
}
.row2 {
  height: 50px;
  align-items: center;
}
.col1{
  margin-top: 20px;
  background-color:#EFE3E6;
}
.co2{
  background-color:#EFE3E6;
  margin-top: 20px;
}
