<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>Fórum hozzászólás</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <h1 class="title">{{forumTitle}}</h1>
  <div class="desc">Fórum leírása</div>
  <h3 class="leiras"> <ion-icon class="icon" name="create"></ion-icon>{{forumDesc}}</h3>
  <h4> <ion-icon class="icon" name="calendar"></ion-icon>{{forumDate}}</h4>
  <h4> <ion-icon  class="icon" name="mail-open"></ion-icon>{{forumUsername}}</h4>
  <h1>Hozzászólások:</h1>

  <ion-card class="card" *ngFor="let comment of Comment">
    <ion-card class="card1" *ngIf="comment.id === id">

      <ion-card-title>{{comment.comment}}</ion-card-title>

      <ion-card-content>{{comment.user}}</ion-card-content>

      <ion-card-subtitle>{{comment.date}}</ion-card-subtitle>
    </ion-card>
  </ion-card>


  <form [formGroup]="commentForm" (ngSubmit)="formSubmit()">
    <ion-item class="comment">
      <ion-textarea placeholder="Hozzászólásodat ide tudod írni..." formControlName="comment"  rows="10" class="textarea"></ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Mentés</ion-button>
      </ion-col>
    </ion-row>
  </form>



</ion-content>
