.table {
  display: inline-flex;
  border-top: 50px;
  width: 100%;

}

.row1{
  height: 50px;
  align-items: center;
}
.row2 {
  height: 50px;
  align-items: center;
}
.col1{
  margin-top: 20px;
  background-color:#EFE3E6;
}
.co2{
  background-color:#EFE3E6;
  margin-top: 20px;
}
.title{
  text-align: center;
  font-family: monospace;
  text-transform: uppercase;
  color: #5d58e0;
}

.desc {
  border-bottom: 2px solid grey;
  width: 80%;
  margin-left: 20px;
}
h4 {
  text-align: center;
}
ion-item{
  margin-left: 5px;
}
.icon {
  padding-right: 10px;
}
.leiras{
  text-align: center;

}
.textarea {
  border-radius: 10px;
  border: 1px solid grey;
}
.card {
  display: inherit;
}
.card1{
  text-align: center;
  width: max-content;
  margin-left: 70px;
}
