<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="wrapper">
    <form [formGroup]="credentialForm" class="login">
      <p class="title">Bejelentkezés</p>
      <ion-input formControlName="email" type="text" placeholder="Email cím" autofocus></ion-input>
      <i class="fa fa-user"></i>
      <div *ngIf="(email.dirty || email.touched) && email.errors">
        <span *ngIf="email.errors?.required">Kötelező megadni</span>
        <span *ngIf="email.errors.minlength">Legalább 6 karakter legyen</span>
      </div>
      <ion-input formControlName="password" type="password" placeholder="Jelszó"></ion-input>
      <i class="fa fa-key"></i>
      <div *ngIf="(password.dirty || password.touched) && password.errors">
        <span *ngIf="password.errors?.required">Kötelező megadni</span>
        <span *ngIf="password.errors.minlength">Legalább 6 karakter legyen</span>
      </div>
      <ion-button (click)="signIn()">
        <i class="spinner"></i>
        <span  class="state">Bejelentkezés</span>
      </ion-button>
      <ion-button routerLink="/home">
        <i class="spinner"></i>
        <span  class="state">Mégse</span>
      </ion-button>
    </form>
  </div>
</ion-content>
