<ion-header class="bar-stable">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
<ion-title>Programok</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-searchbar [(ngModel)]="search"></ion-searchbar>

<ion-card class="card">
  <ion-tab-button class="newbutton" routerLinkActive="tab-selected" routerLink="/add-programs"  tab="add-programs">
    <ion-icon name="add-circle"></ion-icon>
    <ion-label>Új program</ion-label>
  </ion-tab-button>
  <ion-card class="subcard" *ngFor="let booking of Bookings | filter:search">
    <ion-card-header>
      <ion-card-subtitle>  {{booking.email}}</ion-card-subtitle>
      <ion-card-title>  {{booking.megnevezes}}</ion-card-title>
    </ion-card-header>
    <div class="item-note" item-end *ngIf="authService.isLoggedIn">
      <button ion-button clear [routerLink]="['/edit-programs/', booking.$key]">
        <ion-icon name="create" style="zoom:2.0"></ion-icon>
      </button>
      <button ion-button clear (click)="deleteBooking(booking.$key)">
        <ion-icon name="trash" style="zoom:2.0"></ion-icon>
      </button>

      <button  ion-button clear [routerLink]="['/item-program/', booking.$key]">
        <ion-icon name="information" style="zoom:2.0"></ion-icon>
      </button>
    </div>
  </ion-card>
  </ion-card>

</ion-grid>



