ion-col {
  border: 1px solid #ECEEEF;
  width: 150px;
  text-align: center;
}

ion-grid {
  width: 80%;
  overflow-x: auto;

}

ion-row{
  width: max-content;
}

.row-header{
  text-align: center;
}
