<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Hírek</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="newsForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-input placeholder="Főcím" formControlName="title" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Leírás" formControlName="leiras" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Webcím" formControlName="url" type="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Hozzáadás</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
