<ion-header class="bar-stable">
  <ion-toolbar>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/add-news"  tab="add-news">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Új hír</ion-label>
    </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngFor="let news of News" [href]="news.url" target="_blank">
    <ion-card-header>
      <ion-card-subtitle>{{news.date}}</ion-card-subtitle>
      <ion-card-title>{{news.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{news.desc}}
      <ion-card-title><a href="{{news.url}}"></a></ion-card-title>
    </ion-card-content>
    <ion-card-subtitle>{{news.user}}</ion-card-subtitle>

  </ion-card>

</ion-content>



