
ion-card-content{
  font-size: 18px;
  color: black;
}
ion-card-title{
  color: #4c8dff;
}
.newbutton{
  width: 50px;
  display: table-cell;
}
.card1{
  width: 70%;
  margin-left: 70px;
  border: 2px solid #b7d1ff;
  border-radius: 25px;
  background-color: lightgray;
}
.card {
  display: inherit;
}
