<ion-header translucent>
  <ion-toolbar>
    <ion-title>Hírek</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card href="https://kutyabarathelyek.hu/hu/hirek/reszletek/ebzarlat-2021-oszen-ezek-a-telepulesek-erintettek/">
    <ion-card-header>
      <ion-card-subtitle>2021.10.09 18:32</ion-card-subtitle>
      <ion-card-title>Ebzárlat</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Jelenleg ebzárlati tilalom van
    </ion-card-content>
  </ion-card>
  <ion-card href="https://www.mozgasvilag.hu/turazas/hirek/turisztikai-jelzesrendszer-szlovakiaban">
    <ion-card-header>
      <ion-card-subtitle>2021.10.09 18:32</ion-card-subtitle>
      <ion-card-title>Túrisztikai jelzésrendszer Szlováliában</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     "Kresz lámpák" mutatják a turista ösvények, helyek zsúfoltságát
    </ion-card-content>
  </ion-card>
</ion-content>
