
.newbutton{
  width: 50px;
  display: table-cell;
}
.card1{
  width: 70%;
  margin-left: 70px;
  border: 2px solid lightslategray;
  border-radius: 25px;
  background-color: lightblue;
}
.card {
  display: inherit;
}
