
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Fórumok</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-card class="card">
    <ion-tab-button *ngIf="authService.isLoggedIn" class="newbutton" routerLinkActive="tab-selected" routerLink="/add-forums"  tab="add-forums">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Új fórum</ion-label>
    </ion-tab-button>
  <ion-card  class="card1" *ngFor="let forum of Forums">
    <ion-card-header>
      <ion-card-subtitle>{{forum.username}}</ion-card-subtitle>
      <ion-card-subtitle>{{forum.date}}</ion-card-subtitle>
      <ion-card-title>{{forum.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="authService.isLoggedIn" [routerLink]="['/item-forum/', forum.$key]">
      {{forum.desc}}
    </ion-card-content>


  </ion-card>
  </ion-card>

</ion-content>



