<ion-header class="bar-stable">
  <ion-toolbar>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/add-forums"  tab="add-forums">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Új fórum</ion-label>
    </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngFor="let forum of Forums">
    <ion-card-header>
      <ion-card-subtitle>{{forum.date}}</ion-card-subtitle>
      <ion-card-title>{{forum.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{forum.desc}}
    </ion-card-content>
    <button [routerLink]="['/forum/', forum.$key]">
      <ion-icon name="add-circle" style="zoom:2.0"></ion-icon>
      Új hozzászólás
    </button>

  </ion-card>

</ion-content>



